*~
*.pyc
build
dist
oe-bakery_*~*.dsc
oe-bakery_*~*.tar.gz
oe-bakery_*~*_source.build
oe-bakery_*~*_source.changes
oe-bakery_*~*_source.oe-bakery.upload
oe_bakery.egg-info
oe_lite.egg-info
oe-lite-bakery-*.tar.*
